.Generate {
  position: fixed;
  width: 50vw;
  min-width: 400px;
  height: 80vh;
  min-height: 400px;
  top: 10vh;
  left: 25vw;
  background: #fff;
  border: 1px solid #eee;

  textarea {
    width: 500px;
    height: 200px;
  }
}
